
// mixin for highlighting text upon hover
.highlightParagraph {
  -webkit-animation-name: highlightParagraph;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
  animation-name: highlightParagraph;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

// mixin for zoom upon hover
.hoverZoom {
  -webkit-animation-name: zoom;
  -webkit-animation-fill-mode: forwards;
  animation-name: zoom;
  animation-fill-mode: forwards;
}

// mixin for skyline background image
.skyline {
  background-image:
    -webkit-linear-gradient(transparent, black 99%),
    url(../images/skyline_2560.jpeg);
  background-image:
    -moz-linear-gradient(transparent, black 99%),
    url(../images/skyline_2560.jpeg);
  background-image:
    -o-linear-gradient(transparent, black 99%),
    url(../images/skyline_2560.jpeg);
  background-image:
    linear-gradient(transparent, black 99%),
    url(../images/skyline_2560.jpeg);
}
